.burgerView {
    padding-top: 30px;
}

.addBurger {
    padding-top: 30px;
    padding-bottom: 50px;
}

.burgerText {
    font-size: 32px;
}

.body {
    background-image: url(../img/background.jpg);
}

.listBurgers {
    font-size: 24px;
}

.heading {
    padding-top: 25px;
}